/*=======================================
MAIN STYLES
=======================================*/

body {
  background-color: lightgreen;
}

p {
    font-size: 20px;
}

img {
  border-radius: 5%;
  border: 5px solid darkgreen;
}

li {
    list-style-type: none;
}



h1 {
  text-align: center;
}



footer{
  text-align: center;
  color: #0A8654;
}

/*=======================================
ABOUT STYLES
=======================================*/
#about img {
  margin: 2% 0;
}

#about, #portfolio, #contact {
  margin: 5% 0;
}

#bio {
  width: 800px;
  margin: 0 auto;
}

#about li {
    margin-bottom: 2%;
}

/*=======================================
NAVIGATION STYLES
=======================================*/
nav li {
    display: inline;
    margin-right: 6%;
}

header {
    text-align: center;
}
a {
  color: #0A8654;
  font-family: "Arial Black", Gadget, sans-serif;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: white;
}

.icon-menu {
    font-size: 40px;
    margin-left: 90%;
}

#mobileNav {
    display: none;
}

#mobileNav ul {
    font-size: 20px;
    display: none;

}

#mobileNav li {
    margin-bottom: 4%;
}




/*=======================================
PORTFOLIO STYLES
=======================================*/
#portfolio img {
  width: 300px;
  height: 300px;
}


/*=======================================
CONTACT STYLES
=======================================*/


/*=======================================
MEDIA QUERIES
=======================================*/
@media only screen and (min-width: 640px) {


}

@media only screen and (max-width: 942px) {
  #bio {
      width: 300px;
  }
  #about img {
    margin: 5% 0;
  }

  #mobileNav {
      display:block;
  }

  nav {
    display: none;
  }

  #contact li {
    font-size: 20px;
    margin-bottom: 4%;
  }

}
