/*=======================================
MAIN STYLES
=======================================*/

body {
  background-color: lightgreen;
}

p {
    font-size: 20px;
}

img {
  border-radius: 5%;
  border: 5px solid darkgreen;
}

#about img {
  margin: 2% 0;
}

#about, #portfolio, #contact {
  margin: 5% 0;
}

h1 {
  text-align: center;
}

#bio {
  width: 800px;
  margin: 0 auto;
}


footer{
  text-align: center;
  color: #0A8654;
}

/*=======================================
TEXT STYLES
=======================================*/
/*p {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  width: 760px;
  margin: 10px auto;
  background: white;
  padding: 15px;
  border-radius: 5px;
}*/

/*=======================================
NAVIGATION STYLES
=======================================*/
nav li {
    display: inline;
    margin-right: 6%;
}

header {
    text-align: center;
}
a {
  color: #0A8654;
  font-family: "Arial Black", Gadget, sans-serif;
}
a:link {
    text-decoration: none;
}
a:hover {
    color: white;
}

a:active {
    color: darkgreen;
}

/*=======================================
PORTFOLIO STYLES
=======================================*/
#portfolio img {
  width: 300px;
  height: 300px;
}



/*=======================================
MEDIA QUERIES
=======================================*/
@media only screen and (min-width: 640px) {


}

@media only screen and (max-width: 942px) {
  #bio {
      width: 300px;
  }
  #about img {
    margin: 5% 0;
  }

}
