/* TODO: Add some coordinated colors to make the blog more distinguished:
         Use an accent color for all links, and remove their underline. */

body {
  line-height: 1.5;
  font-size: 100%;
  color: #313131;

}




.center {
  text-align: center;
}

#left {
  background-color: black;
  max-width: 30%;
  float: left;
  height: 100%;
  position: fixed;
  padding: 5%;

}

#right {
  max-width: 60%;
  float: right;
  height: 200%;
  padding: 0 5% 0 0;

}

hr {
  margin: 1em;
  width: 80%;
}

img {
  max-width: 100%;
}

#portfolioPic {
  margin: 5px 0;
  padding: 0;
  border-radius: 50%;
}

/*TEXT STYLES
=======================================*/
#template {
  padding: 0;
  margin: 50px 0;
  color: black;
}

#template img {
  margin: 0 0 10px 0;
}
h1, h2, h3 {
  padding: 0;
  margin: 0;
  font-family: 'Martel', serif;
  color: #0290A7;
}
p {
  font-size: 1.2em;
  font-family: times;
}

i #hamburger {
    color: white;

}
i.icon-menu{
  background-color: black;
  color: white;
  float: right;
  font-size: 400%;
  padding: 0;
  margin: 0;



}
address {
  display: inline-block;
}

dt,dd{
  display:inline;
}

dd {
  margin-left: 5px;
  margin-right: 10px;
}

/*LINK STYLES
=======================================*/

nav {
  background-color: ;
  max-width: 100%;
  margin: 10px 0 10px 0;
}

ul li {
  list-style-type: none;
}
nav ul {
  padding: 0;
  margin: 0;

}



a, a:link, a:active {
  text-decoration: none;
  color: white;
  font-family: times;
}

a:hover, a:focus {
}

a:visited {
}
