header.site-header {
  background-color: black;
  color: white;

}
main {
  color: black;
  max-width: 100%;
}

footer {
  background-color: ;
  color: #0290A7;
  padding: 0;
  margin: 10px 0;
  font-family: times;
}

#about a {
  color: red;
}
